<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>This is great</h1>
			<p>Welcome to templating using EJS</p>

			<% if ( typeof expressFlash == 'object' && expressFlash.length > 0 ) { %>
				<div class="alert alert-success"><%= expressFlash %></div>
			<% } %>

			<% if ( auth) { %>
				<div class="alert alert-success">Authed</div>
			<% } %>

            
		</div>




	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>